
body { background-color:gainsboro

}
body { 
    color: rgb(212, 44, 77);
}
.Titulo{
    color:black;
}

.Formulario{
    background-color: rgb(135, 223, 189);
    margin-top: 100px;
    padding: 60px;
    margin-inline: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

h2{
    text-align: center;
    color: rgb(15, 214, 131);
    background: rgb(2, 1, 0);
}
body{
    background-image: url(fondo1.jpg);
}
